In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import datetime
import types
from botocore.client import Config
import ibm_boto3

In [2]:
# The code was removed by Watson Studio for sharing.

,Company,Date,Closing (c),High (c),Low (c),Volume,# Deals,Value (R),Move (%),DY,EY,PE
0,MTN,2020-02-17,8820,8879,8725,2350702,3130,207 277 923,0.0112,0.0000,0.0000,0.0000
1,MTN,2020-02-14,8722,8873,8696,3895872,5710,340 272 727,-0.0072,4.7695,3.6344,27.5141
2,MTN,2020-02-13,8785,8978,8712,4837848,8169,425 234 479,-0.0028,4.7353,3.6084,27.7129
3,MTN,2020-02-12,8810,8961,8330,7969935,14546,701 183 321,0.06,4.7219,3.5981,27.7917
4,MTN,2020-02-11,8311,8385,8225,3576616,5561,297 254 218,0.0034,5.0054,3.8142,26.2176

In [3]:
s = []
for n in df['Value (R)'][:]:
    s.append(str(n))
a = []
for n in s:
    a.append(float(''.join(n.split())))
df['Value'] = a
df.drop(["Value (R)"], axis=1, inplace=True)
df.dtypes

Company                object
Date           datetime64[ns]
Closing (c)             int64
High (c)                int64
Low (c)                 int64
Volume                  int64
# Deals                 int64
Move (%)               object
DY                    float64
EY                    float64
PE                    float64
Value                 float64
dtype: object